/*************************************************
*                  Breakpoints                   *
*************************************************/
$XS:  0;
$SM:  576px;
$MD:  768px;
$LG:  992px;
$XL:  1200px;

/*************************************************
*                     Colors                     *
*************************************************/
$dominant: #0a3471;
$accent1: gray;
$accent2: darken(#f5ecd4, 20%);

/*************************************************
*                     Fonts
*************************************************/
$font-sans: "Poppins", Arial, Helvetica, sans-serif;
